@import url(../../index.css);

.section-heading {
    --heading-font-size: 3rem;

    color: var(--text-color);
    font-size: var(--heading-font-size);
    margin-bottom: 6%;
}

.section-paragraph {
    --content-font-size: 1.2rem;

    color: var(--text-color);
    font-size: var(--content-font-size);
    margin-bottom: 5%;
}