@import url(../../index.css);

.section-heading {
    color: var(--text-color);
    font-size: var(--heading-font-size);
    margin-block: 6%;
}

.section-paragraph {
    color: var(--text-color);
    font-size: var(--content-font-size);
    margin-bottom: 6%;
}

.section-ul {
    list-style: circle;
    color: var(--text-color);
    margin-left: 3%;
    line-height: 185%;
}

.justified-text {
    text-align: justify;
}

/* @media (max-width: 800px) {
    .justified-text {
        text-align: left;
    }
} */