.nav-links {
    color: var(--text-color);
    width: calc(var(--nav-size) * 2.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.item {
    padding: 5%;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.item:hover {
    background-color: var(--btn-color);
}

@media (max-width: 800px) {
    .nav-links {
        display: block;
        height: calc(var(--nav-mobile-menu-height) / 4);
        width: 100%;
    }

    .item {
        padding: 0;
        display: block;
        border-radius: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}