:root {
  /* background */
  --bg: rgb(26, 25, 25);
  --nav-mobile-menu-bg: rgb(46, 45, 45);

  /* theme */
  --text-color: white;

  /* navbar */
  --nav-logo-font-size: 1.8rem;
  --nav-bg-color: var(var(--bg));
  --nav-btn-color: var(--btn-color);
  --nav-size: 5rem;
  --nav-mobile-menu-height: 500px;

  /* button */
  --btn-color: rgb(193, 42, 42);
  --nav-btn-mobile-color: var(var(--nav-mobile-menu-bg));
  --btn-font-size: 1rem;

  /* heading */
  --heading-font-size: 2.5rem;
  --heading-mobile-font-size: 2rem;

  /* content */
  --content-font-size: 1rem;
  --content-mobile-font-size: 1rem;

  /* bubble display bar */
  --bubble-display-bar-height: 3rem;
  --bubble-display-bar-width: 65%;

  /* text-bubble */
  --text-bubble-font-size: 1rem;

  /* other */
  --speed: 500ms;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

img {
  /* object-fit: contain; */
}

section {
  max-width: 50rem;
  height: 100vh;
}

.container {
  padding: 5% 8%;
  height: max-content;
}

.container-curved-bottom {
  padding: 5% 8%;
  min-height: 70vh;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  background: linear-gradient(rgb(26, 25, 25), rgb(37, 36, 36));
}

.container-s {
  padding: 1% 8%;
  min-height: max-content;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-narrow {
  padding: 5% 20%;
  height: max-content;
}

.even-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  min-height: 85vh;
  text-align: left;
}

.flex {
  display: flex;
  gap: 5%;
  margin: 0 auto;
}

.justify-center {
  justify-content: center;
}

.spacer {
  margin: 0 2%;
}

.fade-in {
  animation: fadeIn 0.5s;
}

@media (max-width: 800px) {
  section {
    height: 60vh;
  }

  .container-narrow {
    padding: 5% 8%;
    height: max-content;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}