.bubble-display-bar {
    display: flex;
    align-items: center;
    gap: 2%;
    width: var(--bubble-display-bar-width);
    height: var(--bubble-display-bar-height);
    margin: 5% auto;
    padding: 0 2%;
    border-radius: 18px;
    background-color: rgb(118, 117, 117);
}

.bubble-section {
    display: flex;
    align-items: center;
    flex-shrink: 3;
    overflow: scroll;
    gap: 5px;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 3%;
}

@media (max-width: 800px) {
    .bubble-display-bar {
        width: 100%;
    }
}